
##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*launch.json
*tasks.json
# Local History for Visual Studio Code
.history/

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.obj
*.bin

# Kernel Module Compile Results
*.mod*
*.cmd